<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <h1>El titulo de nuestro documento</h1>
    <h2>Un subtitulo cualquiera</h2>
    <img src="/img/simpsons.jpg" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat rem accusamus minus aperiam vitae est optio similique, nisi esse dolor deserunt voluptates odio nesciunt aliquid in dolore, laudantium perspiciatis excepturi?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam ipsam, voluptates explicabo illum consectetur modi ab maiores odit molestias nisi deserunt qui dolor omnis nobis sequi aut, dignissimos facilis?</p>
    <ol>
        <li>Item1</li>
        <li>Item2</li>
        <li>Item3</li>
    </ol>

    <ul>
        <li>Item1</li>
    </ul>

    <a href="https://www.google.com"></a>
</body>
</html>