<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div><img src="images/logo-mercado-liebre.svg" ></div>
        <nav> Barra de Busqueda</nav>
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>

            <ul>
                <li>Crea tu cuenta</li>
                <li>Ingresa</li>
                <li>Mis compras</li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <header><h2>Basado en tu ultima visita</h2></header>
            <article>
                <img src="images/img-cafetera-moulinex.jpg">
                <footer>
                    <ul type="none">
                        <li> $6700</li>
                        <li>40% Off</li>
                    </ul>
                </footer>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg">
                <footer>
                    <ul type="none">
                        <li> $6700</li>
                        <li>40% Off</li>
                    </ul>
                </footer>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg">
                <footer>
                    <ul type="none">
                        <li> $230.000</li>
                        <li>20% Off</li>
                    </ul>
                </footer>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg">
                <footer>
                    <ul type="none">
                        <li> $750.000</li>
                        <li>20% Off</li>
                    </ul>
                </footer>
            </article>
        </section>

        <section>
            <header><h2>Seccion de Ofertas</h2></header>
            <article>
                <img src="images/img-cafetera-moulinex.jpg">
                <footer>
                    <ul type="none">
                        <li> $6700</li>
                        <li>40% Off</li>
                    </ul>
                </footer>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg">
                <footer>
                    <ul type="none">
                        <li> $6700</li>
                        <li>40% Off</li>
                    </ul>
                </footer>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg">
                <footer>
                    <ul type="none">
                        <li> $230.000</li>
                        <li>20% Off</li>
                    </ul>
                </footer>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg">
                <footer>
                    <ul type="none">
                        <li> $750.000</li>
                        <li>20% Off</li>
                    </ul>
                </footer>
            </article>
        </section>

    </main>

    <footer>
        <section>
            <header>
                <h1>
                    Paga con Tarjeta o en Efectivo
                </h1>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </header>
        </section>

        <section>
            <header>
                <h1>
                    Envio gratis desde 2500
                </h1>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </header>
        </section>

        <section>
            <header>
                <h1>
                    Seguridad de principio a fin
                </h1>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </header>
        </section>
    </footer>
</body>
</html>